[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Daniel
	email = danielmarchenajimenez2002@gmail.com
[safe]
	directory = F:/Cursos/4 ING INF/PrimerCuatrimestre/IntegracionInformacionAplicaciones/Proyecto Final/dsl-project
	directory = F:/Cursos/4 ING INF/PrimerCuatrimestre/IntegracionInformacionAplicaciones/Proyecto Final/dsl-framework
[windows]
	appendAtomically = false
